@charset "ISO-8859-1";
* {
	margin: 0;
}
.navbar {
	height: 30%;
	width: 100%;
	padding: 10px;
}




.showOneBox{
	
	/* Light purple color */
	border: 3px solid #d1c9ff;
	/* Border color */
	border-radius: 8px;
	box-shadow: 0 4px 8px #d1c9ff;
	/* Shadow glow */
	padding: 15px;
	width: 450px;
	height: 450px;
	/* Adjust as needed */
	margin-left: 35%;
	margin-top: 150px;
}

.logo{
	width: 100px;
	height: 100px;
	position: absolute;
	padding: 20px;
	border-radius: 40px;
	margin-left: 84px;
}

.picture{
	height: 80px;
	width: 80px;
}